<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站管理系统</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="js/function.js"></script>
<script language="javascript" type="text/javascript" src="js/calendar.js"></script>
</head>
<body class="body_bg_3">
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="border">
  <tr align="center">
	<td class="title_b bg_bai">错 误 信 息</td>
  </tr>
  <tr>
	<td class="border tr_out p_l_30 ico_failure"><ul><li>{$msg}</li></ul></td>
  </tr>
  <tr>
	<td align="center" class="bg_bai"><input type="button" name="button" class="lostfocus btn"{$url}></td>
  </tr> 
</table>
</body>
</html>