<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站管理系统</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="../js/jquery.alerts.css" rel="stylesheet" type="text/css" />
<link href="../js/ui/jquery.ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.form.js"></script>
<script type="text/javascript" src="../js/jquery.alerts.js"></script>
<script type="text/javascript" src="../js/ui/jquery.ui.js"></script>
<script type="text/javascript" src="../js/ui/jquery.ui.draggable.js"></script>
<script type="text/javascript" src="js/function.js"></script>
</head>
<body class="body_bg_3">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr align="center">
    <td colspan="2" class="title_b bg_bai">系 统 日 志 管 理</td>
  </tr>
  <tr>
    <td width="15%" align="center" class="border tr_out b">快捷方式：</td>
    <td width="85%" align="left" class="border tr_out"> |
    <a href="{$CurrentPageName}">日志管理首页</a> |</td>
  </tr>
</table>
<form method="get" action="{$CurrentPageName}">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr>
    <td width="15%" align="center" class="border tr_out b">记录查询：</td>
    <td width="45%" align="left" class="border tr_out p_l_5">
    <input name="keyword" id="keyword" type="text" value="{$smarty.get.keyword}" size="30" maxlength="30"/>
    <select name="searchclass">
	<option value="1"{if $smarty.get.searchclass==1} selected{/if}>管理员ID</option>
	<option value="2"{if $smarty.get.searchclass==2} selected{/if}>日志信息</option>
	</select>
    <input name="class_id" id="class_id" type="hidden" value="{$smarty.get.class_id|default:''}" size="30" maxlength="30"/>
    <input type="submit" value=" 查 询 " class="lostfocus btn"/></td>
    <td width="50%" align="left" class="border tr_out p_l_10">&nbsp;</td>
  </tr>
</table>
</form>
<form name="myform" method="post" action="?action=operation">
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="border">
  <tr align="center">
    <td width="5%" class="title_b bg_bai b">选中</td>
    <td width="5%" class="title_b bg_bai b">编号</td>
    <td width="10%" class="title_b bg_bai b">日志类别</td>
    <td width="40%" class="title_b bg_bai b">日志信息</td>
    <td width="25%" class="title_b bg_bai b">管理员 [操作IP]</td>
    <td width="15%" class="title_b bg_bai b">{$order_time}</td>
  </tr>
{foreach from=$list_array item="list" name="zw"}
  {if $list.commend==1}
  <tr class="tr_out tr_check">
    <td align="center" class="border"><input name='id[]' type='checkbox' value='{$list.id}' class="input_check"/></td>
    <td align="center" class="border">{math equation="(Page-1)*PageSize+I" Page=$page PageSize=$web.Web_PageSize I=$smarty.foreach.zw.iteration}</td>
    <td align="center" class="border">{$list.title}</td>
    <td align="left" class="border p_l_5">{$list.content}</td>
    <td align="center" class="border">{$list.username} <span class="f_0000FF">[{$list.ip}]</span></td>
    <td align="center" class="border">{$list.add_time}</td>
  </tr>{else}
  <tr class="tr_out tr_check">
    <td align="center" class="border"><input name='id[]' type='checkbox' value='{$list.id}' class="input_check"/></td>
    <td align="center" class="border">{math equation="(Page-1)*PageSize+I" Page=$page PageSize=$web.Web_PageSize I=$smarty.foreach.zw.iteration}</td>
    <td align="center" class="border">{$list.title}</td>
    <td align="left" class="border p_l_5 f_FF0000" colspan="2">{$list.content}</td>
    <td align="center" class="border">{$list.add_time}</td>
  </tr>
  {/if}
{foreachelse}
  <tr class="tr_out"><td height="28" colspan="6" align="center">无数据！</td></tr>
{/foreach}
  <tr class="bg_bai">
    <td height="30" align="center"><input name="checkboxall" type="checkbox" id="checkboxall" class="input_check"/></td>
    <td height="30" colspan="5" align="left" class="p_l_10"><label for="checkboxall">全选/取消全选</label>
      <select name="operationclass">
        <option value="0">请选择批量操作选项</option>
        <option value="1">-- 批量执行删除 --</option>
      </select>
      <input type="submit" name="开始执行" class="lostfocus confirm btn" value="开始执行"/></td>
    </tr>
  <tr class="bg_bai">
    <td height="30" colspan="6" align="right">{include file='admin/qc_page.html'}</td>
  </tr>
</table>
</form>
</body>
</html>