<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站管理系统</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="../js/jquery.alerts.css" rel="stylesheet" type="text/css" />
<link href="../js/ui/jquery.ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.form.js"></script>
<script type="text/javascript" src="../js/jquery.alerts.js"></script>
<script type="text/javascript" src="../js/ui/jquery.ui.js"></script>
<script type="text/javascript" src="../js/ui/jquery.ui.draggable.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/aben.js"></script>
</head>
<body class="body_bg_3">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr align="center">
    <td colspan="3" class="title_b bg_bai">首页推荐图片管理</td>
  </tr>
  <tr>
    <td width="15%" align="center" class="border tr_out b">快捷方式：</td>
    <td width="85%" align="left" class="border tr_out"> |
    <a href="{$CurrentPageName}">信息管理首页</a> |
    <a href="{$CurrentPageName}?action=add">添加信息</a> <!-- | 
    <a href="{$CurrentPageName}?action=reorder&language={$language}">重新排序</a> |  -->
    </td>
  </tr>
</table>
{if $smarty.get.action eq 'add'}
<form action="?action=insert" method="post" enctype="multipart/form-data" name="myform">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr align="center">
    <td class="title_b bg_bai" colspan="4">添 加 信 息</td>
  </tr> 
</table>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td height="35" align="center" valign="bottom" class="bg_bai">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="24">
        <div class="title_list">
          <ul>
          {foreach from=$language_array item="li" name="langli"}
            <li {if $smarty.foreach.langli.first}class="over"{/if}>{$li}</li>
          {/foreach}
          </ul>
        </div>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr>
    <td width="15%" align="center" class="border tr_over b">标题：</td>
		<td class="border tr_out p_l_5" colspan='3'><input name="title" type="text" class="w_100" id="title" maxlength="200"/></td>
  </tr> 
  <tr class="content_list list_0">
    <td align="center" class="border tr_over b">信息图片：</td>
	<td class="border tr_out p_l_5" colspan='3'> 
	<input type="file" name="img_url_cn" id="img_url_cn" size="50" maxlength="200"/>
	只允许上传的文件格式为：jpg, gif, png  1600px * 420px  
	</td>
  </tr>
  <tr class="content_list list_1">
    <td align="center" class="border tr_over b">信息图片：</td>
	<td class="border tr_out p_l_5" colspan='3'> 
	<input type="file" name="img_url_en" id="img_url" size="50" maxlength="200"/>
	只允许上传的文件格式为：jpg, gif, png  1600px * 420px  
	</td>
  </tr>
  <tr class="content_list list_2">
    <td align="center" class="border tr_over b">信息图片：</td>
	<td class="border tr_out p_l_5" colspan='3'> 
	<input type="file" name="img_url_jp" id="img_url" size="50" maxlength="200"/>
	只允许上传的文件格式为：jpg, gif, png  1600px * 420px  
	</td>
  </tr>
  <tr class="content_list list_0">
    <td align="center" class="border tr_over b">链接地址：</td>
	<td class="border tr_out p_l_0" colspan='3'>
	<input type="text" name="web_url_cn" id="web_url"  maxlength="200" size="50" />
	请填写完整的路径（例如http://www.**.com）
	</td>
  </tr> 
  <tr class="content_list list_1">
    <td align="center" class="border tr_over b">链接地址：</td>
	<td class="border tr_out p_l_0" colspan='3'>
	<input type="text" name="web_url_en" id="web_url"  maxlength="200" size="50" />
	请填写完整的路径（例如http://www.**.com）
	</td>
  </tr> 
  <tr class="content_list list_2">
    <td align="center" class="border tr_over b">链接地址：</td>
	<td class="border tr_out p_l_0" colspan='3'>
	<input type="text" name="web_url_jp" id="web_url"  maxlength="200" size="50" />
	请填写完整的路径（例如http://www.**.com）
	</td>
  </tr> 
    <td align="center" class="border tr_over b">添加时间：</td>
	<td class="border tr_out p_l_5" colspan='3'><input name="add_time" type="text" class="en calendar" id="add_time" value="{$add_time}" size="25" maxlength="30" /></td>
  </tr>
  <tr>
    <td colspan="4" align="center" class="tr_out">
      <input name="language" type="hidden" id="language" value="{$language}"/>
      <input name=" 提交 " type="submit" class="lostfocus btn" id=" 提交 " value=" 提交 "/>
      <input name=" 重置 " type="reset" class="lostfocus btn" id=" 重置 " value=" 重置 "/>
      <input name=" 取消 " type="button" class="lostfocus btn back" id=" 取消 " value=" 取消 "/>
    </td>
  </tr>
</table>
</form>
{elseif $smarty.get.action eq 'edit'}
<form action="?action=update" method="post" enctype="multipart/form-data" name="myform">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr align="center">
    <td class="title_b bg_bai" colspan="4">修 改 信 息</td>
  </tr> 
</table> 
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td height="35" align="center" valign="bottom" class="bg_bai">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="24">
        <div class="title_list">
          <ul>
          {foreach from=$language_array item="li" name="langli"}
            <li {if $smarty.foreach.langli.first}class="over"{/if}>{$li}</li>
          {/foreach}
          </ul>
        </div>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr>
    <td width="15%" align="center" class="border tr_over b">标题：</td>
	<td class="border tr_out p_l_5" colspan="3"><input name="title" type="text" class="w_100" id="title" value="{$rows.title}" maxlength="200"/></td>
  </tr>   
  <tr class="content_list list_0">
    <td align="center" class="border tr_over b">信息图片：</td>
  	<td class="border tr_out p_l_5"><input type="file" name="img_url_cn" id="img_url_cn" size="50" maxlength="200"/> {if $rows.img_url_cn!=''}<span id="pic_view">
    <a href="../{$rows.img_url_cn}" target="_blank"><img src="images/icons_view.gif" width="11" height="10" class="pic_view" title="预览图片" alt="../{$rows.img_url_cn}"/></a>&nbsp;
    </span>
    {/if} 
    只允许上传的文件格式为：jpg, gif, png 大小不超过2mb</td>
  </tr>
  <tr class="content_list list_1">
    <td align="center" class="border tr_over b">信息图片：</td>
  	<td class="border tr_out p_l_5"><input type="file" name="img_url_en" id="img_url_en" size="50" maxlength="200"/> {if $rows.img_url_en!=''}<span id="pic_view">
    <a href="../{$rows.img_url_en}" target="_blank"><img src="images/icons_view.gif" width="11" height="10" class="pic_view" title="预览图片" alt="../{$rows.img_url_en}"/></a>&nbsp;
    </span>
    {/if} 
    只允许上传的文件格式为：jpg, gif, png 大小不超过2mb</td>
  </tr>
  <tr class="content_list list_2">
    <td align="center" class="border tr_over b">信息图片：</td>
  	<td class="border tr_out p_l_5"><input type="file" name="img_url_jp" id="img_url_jp" size="50" maxlength="200"/> {if $rows.img_url_jp!=''}<span id="pic_view">
    <a href="../{$rows.img_url_jp}" target="_blank"><img src="images/icons_view.gif" width="11" height="10" class="pic_view" title="预览图片" alt="../{$rows.img_url_jp}"/></a>&nbsp;
    </span>
    {/if} 
    只允许上传的文件格式为：jpg, gif, png 大小不超过2mb</td>
  </tr>
  
  <tr class="content_list list_0">
    <td align="center" class="border tr_over b">链接地址：</td>
	<td class="border tr_out p_l_5" colspan='3'>
	<input type="text" name="web_url_cn" id="web_url_cn" value="{$rows.web_url_cn}"  maxlength="200" size="50" />
	请填写完整的路径（例如：http://www.**.com）
	</td>
  </tr> 
  <tr class="content_list list_1">
    <td align="center" class="border tr_over b">链接地址：</td>
	<td class="border tr_out p_l_5" colspan='3'>
	<input type="text" name="web_url_en" id="web_url_en" value="{$rows.web_url_en}"  maxlength="200" size="50" />
	请填写完整的路径（例如：http://www.**.com）
	</td>
  </tr> 
  <tr class="content_list list_2">
    <td align="center" class="border tr_over b">链接地址：</td>
	<td class="border tr_out p_l_5" colspan='3'>
	<input type="text" name="web_url_jp" id="web_url_jp" value="{$rows.web_url_jp}"  maxlength="200" size="50" />
	请填写完整的路径（例如：http://www.**.com）
	</td>
  </tr> 
  <tr>
    <td align="center" class="border tr_over b">添加时间：</td>
	<td class="border tr_out p_l_5" colspan="3"><input name="add_time" type="text" class="en calendar" id="add_time" value="{$rows.add_time}" size="25" maxlength="30" /></td>
  </tr>
  <tr>
    <td colspan="4" align="center" class="tr_out"> 
      <input name="id" type="hidden" id="id" value="{$rows.id}"/>
      <input name="language" type="hidden" id="language" value="{$language}"/>
      <input name=" 提交 " type="submit" class="lostfocus btn" id=" 提交 " value=" 提交 "/>
      <input name=" 重置 " type="reset" class="lostfocus btn" id=" 重置 " value=" 重置 "/>
      <input name=" 取消 " type="button" class="lostfocus btn back" id=" 取消 " value=" 取消 "/>
   </td>
  </tr>
</table>
</form>
{else}
<form method="get" action="{$CurrentPageName}">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr>
    <td width="15%" align="center" class="border tr_out b">信息查询：</td>
    <td width="45%" align="left" class="border tr_out p_l_5">
    <input name="keyword" id="keyword" type="text" value="{$smarty.get.keyword}" size="30" maxlength="30"/>
    <select name="searchclass" class="hidden">
	<option value="1"{if $smarty.get.searchclass==1} selected{/if}>名称</option>
	<option value="2"{if $smarty.get.searchclass==2} selected{/if}>内容</option>
	</select> 
    <input type="hidden" name="language" id="language" value="{$smarty.get.language|default:''}"/>
    <input type="submit" value=" 查 询 " class="lostfocus btn"/></td>
    <td width="40%" align="left" class="border tr_out p_l_10"> 
    </td>
  </tr>
</table>
</form>
<form name="myform" method="post" action="?action=operation">
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="border">
  <tr align="center">
    <td width="5%" class="title_b bg_bai b">选中</td>
    <td width="5%" class="title_b bg_bai b">编号</td>
    <td class="title_b bg_bai b">信息名称</td>
    <!-- td width="5%" class="title_b bg_bai b">排序</td>-->
    <td width="15%" class="title_b bg_bai b">{$order_is_index}</td>
    <!-- <td width="5%" class="title_b bg_bai b">{$order_is_show}</td>  -->
    <td width="10%" class="title_b bg_bai b">{$order_time}</td>
    <td width="10%" class="title_b bg_bai b">操作</td>
  </tr>
{foreach from=$list_array item="list" name="zw"}
  <tr class="tr_out tr_check">
    <td align="center" class="border"><input name='id[]' type='checkbox' value='{$list.id}' class="input_check"/></td>
    <td align="center" class="border">{$smarty.foreach.zw.iteration}</td>
    <td align="left" class="border p_l_5"><a href="?action=edit&id={$list.id}">{$list.title}</a>
    {if $list.img_url!=''}<a href="../{$list.img_url}" target="_blank"><img src="images/icons_view.gif" width="11" height="10" class="pic_view" title="预览图片" alt="../{$list.img_url}"/></a>{/if}
    </td>

    <td align="center" class="border">
      <a href="?action=index&id={$list.id}" class="no">{if $list.is_index==1}
        <span class="en f_FF0000 b">√</span>{else}<span class="en f_0000FF b">×</span>{/if}
      </a>
    </td>
    
    <td align="center" class="border">{$list.add_time}</td>
    <td align="center" class="border">
    <a href="?action=edit&id={$list.id}"><img src="images/edit.gif" alt="编辑"/></a>
    <a href="?action=delete&id={$list.id}" class="del"><img src="images/delete.gif" alt="删除"/></a>
    </td>
  </tr>
{foreachelse}
  <tr class="tr_out"><td height="28" colspan="9" align="center">无数据！</td></tr>
{/foreach}
  <tr class="bg_bai">
    <td height="30" align="center"><input name="checkboxall" type="checkbox" id="checkboxall" class="input_check"/></td>
    <td height="30" colspan="8" align="left" class="p_l_10"><label for="checkboxall">全选/取消全选</label>
      <select name="operationclass" id="operationclass">
        <option value="">请选择批量操作选项</option>
        <option value="batch_delete">-- 批量执行删除 --</option><!--
      --></select> 
      <input type="submit" name="开始执行" class="lostfocus confirm btn" value=" 开始执行 "/></td>
    </tr>
  <tr class="bg_bai">
    <td height="30" colspan="9" align="right">{include file='admin/qc_page.html'}</td>
  </tr>
</table>
</form>
{/if}
</body>
</html>